<!DOCTYPE html>
<html>
    <head>
        <title>
            FizzBuzz Adelco
        </title>
    </head>
    <body>
        <input type="text" id="inputNumber" placeholder="Insert number">
        <button onClick="computeResult()"> Compute result  </button>
        <p id="computeResult"></p>
        <div id="result">
            <script>
               function computeResult() {
                    var request = new XMLHttpRequest()
                    var inputNumber = document.getElementById('inputNumber').value
                    performRequestToAPI(request, inputNumber);
                }

               function performRequestToAPI(request, inputNumber) {
                   request.open('PUT', 'http://localhost:8080/fizzBuzz/' + inputNumber, true)

                   document.getElementById('result').childNodes = null;

                   request.onload = function () {
                       var splitResult = this.response.split('<br />');
                       var {inputNumber, fizzBuzz, report} = extractResultFields(splitResult);
                       var {inputDiv, fizzBuzzDiv, reportDiv} = createDivs(inputNumber, fizzBuzz, report);
                       addResultDivsToDocument(inputDiv, fizzBuzzDiv, reportDiv);
                   }
                   request.send()
               }

                function extractResultFields(splitResult) {
                    var inputNumber = document.createTextNode(splitResult[0])
                    var fizzBuzz = document.createTextNode(splitResult[1])
                    var report = document.createTextNode(splitResult[2])
                    return {inputNumber, fizzBuzz, report};
                }

                function createDivs(inputNumber, fizzBuzz, report) {
                    var inputDiv = document.createElement("div");
                    inputDiv.appendChild(inputNumber);
                    var fizzBuzzDiv = document.createElement("div");
                    fizzBuzzDiv.appendChild(fizzBuzz);
                    var reportDiv = document.createElement("div");
                    reportDiv.appendChild(report);
                    return {inputDiv, fizzBuzzDiv, reportDiv};
                }

                function addResultDivsToDocument(inputDiv, fizzBuzzDiv, reportDiv) {
                    var bigDiv = document.getElementById('result');
                    bigDiv.innerHTML=""
                    bigDiv.appendChild(inputDiv);
                    bigDiv.appendChild(fizzBuzzDiv);
                    bigDiv.appendChild(reportDiv);
                    document.getElementsByTagName("body")[bigDiv]
                }
            </script>
        </div>
    </body>
</html>
